<div class="productDisplaySlab"  >
   
    <div class="product-card"  *ngFor="let product of allProducts">
        <div class="name">
            {{product.name}}
        </div>
        <hr class="product-card-divider">
        <div class="price">
            {{product.price}}
        </div>
        <div class="statusChanger" *ngIf="isAdmin">
            <button type="button" class="btn btn-danger btn-sm  delete-button"  (click)="deleteProduct(this.product._id)">Delete</button>
            <button type="button" class="btn btn-danger btn-sm display-button" *ngIf="product.display" (click)="changeStatus(this.product._id , 'disable')">Disable</button>
            <button type="button" class="btn btn-primary btn-sm display-button" *ngIf="!product.display" (click)="changeStatus(this.product._id, 'enable')">Enable</button>
        </div>
        
        <div class="description">
            {{product.description}}
           
            <br>
            
        </div>
    </div>
    
</div>

<!-- 
<div class="row" style="text-align: center;">
  <div class="col-sm-12">
    <button tytpe="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal"> Add Products</button>
  </div>
    
  
</div>-->


<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Product Name</label>
          <input type="ProductName" class="form-control "  placeholder="name">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="text" class="form-control" placeholder="price">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <textarea type="password" class="form-control" ></textarea>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
